section {width: 58%; padding:1%; float: left;} 
aside {width: 38%; padding: 1%; float: left;} 
nav li { display: inline; } 
footer {width: 98%; padding: 1%; float: left;} 
h1 {color: #17f118;}
h2 {color: #17f448;}
h3 {color: #17f888;}
h4 {color: #18f228;}
h5 {color: #14f338;}
h6 {color: #17f558;}
